@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 5em;
    box-sizing: border-box;
    padding: 5px 25px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 2px 4px #cecece;
    transition: .2s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}

.lets-go-div {
    display: inline-block;
    min-width: 110px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0) 50%, #622dff 50%, #622dff 100%);
    background-position: 0 0;
    transition: .15s ease;
    padding: 5px;
    border-radius: 3px;
    box-sizing: border-box;
}

.lets-go-div i {
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {        
    .top-logo {
        width: 30% !important;
    }
}

.lets-go-div:hover {
    cursor: pointer;
    background-position: 100% 0;
    color: #fff;
    transform: scale(1.1);
}

.lets-go-div a {
    text-decoration: none;
    color: inherit;
}

.lets-go-div:focus {
    outline: none;
}

.top-main {
    position: relative;
}

.top-logo {
    width: 10em;
    height: auto;
    z-index: 1;
}

.top-background-vid {
    position: absolute;
    left: 0; right: 0;
    width: 100%;
    z-index: 0;
    filter: blur(2.5px);
}

.top-foreground {
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    background-color: rgba(255,255,255,.5);
    box-sizing: border-box;
    padding: 1.6em;
}

.top-main-inner {
    display: flex;
    position: relative;
    overflow: hidden;
}

#scroll-top-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    color: #222;
    transition: .3s ease;
}

.scroll-down-container {
    width: 100%;
    height: 3em;
    position: absolute;
    bottom: -1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scroll-top-main:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#scroll-top-main:focus {
    outline: none;
}

q {
    font-family: 'Open Sans', monospace;
}

.quote-div {
    margin: 2em 0;
    padding: 0 2em;
    text-align: center;
}

.quote-div q {
    font-size: 1.6em;
    display: block;
}

q::before {
    content: "";
}

q::after {
    content: "";
}

.quote-div span {
    display: block;
    font-size: .8em;
    color: #222;
    margin-left: 5px;
}

article {
    padding-top: 5em;
}